body {
    background-color: #121212;
    color: #ffffff;
}

.navbar, .footer {
    background-color: #1f1f1f;
}

.card, .form-control, .btn {
    background-color: #333333;
    color: #ffffff;
    border: none;
}

.btn-primary {
    background-color: #6200ea;
    border-color: #6200ea;
}

.btn-primary:hover {
    background-color: #3700b3;
}

a {
    color: #bb86fc;
}

a:hover {
    color: #ffffff;
}

.list-group-item {
    background-color: #333333;
    color: #ffffff;
    border: none;
}

